body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  background-color: #241f75;
  /* background-image: url('./AnimatedBears/img/BG.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  max-width: 1920px;
  height: auto;
  overflow: hidden;
}
